 html {
 	font-family: "Roboto", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: weight 400;
 	font-style: normal;
 }

 header {
 	margin: 5% 20%;
 	color: rgb(4, 89, 122);
 	font-size: 24px;
 }

 body {
 	margin: 0% 20%;
 	font-size: 16px;
 	font: roboto;

 }

 body a {
 	margin-left: 30%;
 	margin: 5% 20%;
 	font-size: 16px;
 }

 footer {
 	margin-left: 50%;
 	margin: 5% 20%;
 	font-size: 16px;
 }

 /* прапрап */
